html, body, * {
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 13%;
    padding-right: 13%;
}

.home_section {
    background-color: #014E56;
}

.nav_container {
    background-color: #014E56;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav_container-logo {
    flex-shrink: 1;
}

.nav_container-links {
    flex-grow: 2;
    margin-left: 30px;
}

.nav_container-link {
    color: white;
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    margin-left: 30px;
}

.nav_container-CTAButton {
    background-color: #014E56;
    border: solid white;
    color: white;
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    border-radius: 50px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home_container {
    display: flex;
    flex-direction: row;
    background-color: #014E56;
    padding-bottom: 100px;
    position: relative;
}

.home_container-left {
    font-family: 'Livvic', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 40px;
    width: 60%;
}

.home_container-left span{
    font-family: 'Livvic', sans-serif;
    font-weight: 700;
    color: #F67E7E;
}

.home_container-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home_container-right p{
    color: white;
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.borderDecoration_top {
    border: solid #F67E7E;
    width: 20%;
}

.home_container-decorationLeft {
    position: absolute;
    left: -13%;
}

.home_container-decorationBottom {
    /* border: solid red; */
    margin-left: 55%;

}